.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  box-shadow: 0px 1px 0px 0px rgba(171, 178, 191, 0.35);
}

.nav {
  display: flex;
  align-items: center;
  gap: 55px;
}

.links {
  display: flex;
  align-items: center;
  gap: 35px;
}

.links a {
  position: relative;
  transition: 0.3s ease-in-out;
  color: var(--grayish-blue);
}

.links a:hover,
.links a:focus {
  color: var(--very-dark-blue);
}

.links a:after {
  content: "";
  transition: 0.3s ease-in-out;
}

.links a:hover::after,
.links a:focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--orange);
  position: absolute;
  top: 82px;
}

.profile {
  display: flex;
  align-items: center;
  position: relative;
}

.cartQ {
  font-size: 0.675rem;
  font-weight: bold;
  position: absolute;
  top: 15px;
  left: 13px;
  color: white;
  padding: 1px 5px;
  border-radius: 40%;
  background: var(--orange);
}

.profile svg {
  cursor: pointer;
  margin-right: 50px;
}

.profile svg:hover path {
  fill: var(--orange);
}

.profile img:last-child {
  width: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.profile img:hover {
  border-color: var(--orange);
}

.modalBackdrop {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 100vw;
  z-index: 8;
}

.mobileButton {
  width: 40px;
  height: 40px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.mobileButton::after {
  margin-left: 20px;
  content: "";
  display: block;
  width: 1.2rem;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  box-shadow: 0px 6px currentColor, 0 -6px currentColor;
}

.mobileButton:focus,
.mobileButton:hover {
  outline: none;
  color: var(--orange);
}

.mobile {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 4rem 1rem;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  min-height: 100%;
  min-width: 55vw;
  transform: translateX(-30px);
  opacity: 0;
  z-index: -1;
  font-size: 1.25rem;
}

.mobileActive {
  transition: 0.3s;
  opacity: 1;
  transform: initial;
  z-index: 100;
}

.mobile li a {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 100%;
  padding: 1rem 0;
  font-weight: bold;
}

.mobileBackground {
  width: 100vw;
  height: 150vh;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.close {
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

ul svg path {
  fill: var(--grayish-blue);
}

ul svg:hover path {
  fill: var(--orange);
}

@media (max-width: 60rem) {
  .header {
    padding: 0;
  }

  .nav {
    gap: 20px;
  }
}
