.photos img {
  cursor: pointer;
}

.photoList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.photoList li img {
  border: 2px solid transparent;
}

:global(li img.active) {
  border-color: var(--orange);
  filter: contrast(0.5) brightness(1.5);
}

.previous,
.next {
  display: block;
  position: absolute;
  padding: 0.8rem 1rem;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  top: 11rem;
}

.previous {
  left: 0px;
}

.next {
  right: 0px;
}
