.photos img {
  cursor: pointer;
}

.photoList {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}

.photoList li img {
  border: 2px solid transparent;
}

:global(li img.active) {
  border-color: var(--orange);
  filter: contrast(0.5) brightness(1.5);
}

@media (max-width: 1150px) {
  .photos {
    grid-row: 2;
  }
}
